In [78]:
import pandas as pd
import openpyxl
df_c = pd.read_csv('/Users/jeong-gihun/Desktop/Hackathon-copago/object/csv/음식점.csv',encoding='cp949')
df_e = pd.read_excel('/Users/jeong-gihun/Desktop/Hackathon-copago/object/csv/cctv.xlsx',)
df_c['소재지'] = ((df_c['소재지'].str.split(',',expand=True)[0]).str.split('(',expand=True))[0]
df_c = df_c[['업태명','업소명','소재지']]
df_e=df_e[['소재지지번주소']]

/Users/jeong-gihun/yes/envs/project/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [116]:
for idx,row in df_c.iterrows():
    a = []
    a.extend([idx, row['업태명'], row['업소명'], row['소재지']])
    #print(a)
    print(row['업소명'])

강원정삼계탕
계경순대국숙대입구역점
계절밥상용산아이파크몰점
고구려참숯구이
고인돌
광포차
괸당네흑똥돼지
금강산
기와
길농원훈제바베큐
까사안토니오
나주곰탕
남산한정식
남원식당
남해
낸칭
늘푸른가든
다채
단비
담쟁이
대식가
대우정
대한각
댓잎갈비
더플레이스다이닝
더함
도마에
돈까스잔치
돌아가는삼각지
동천홍
두바이
라쿠치나
로스아미고스
마구로센
마루한정식
마산아구탕
마오
메시야
모글레스토랑
모리모리
미립
미성중국관
바나나테이블
바토스이태원점
밥샵
방태산
봉추찜닭
봉피양(용산)
봉희설렁탕삼각지점
부다스밸리이태원점
부다스밸리이태원점
부산갈비
블리스
사조참치
산찬미
서계마을
서울역그릴
서울회관
설악칡냉면
세우물 잔치
셰프테이너
소도노리
솔마루
수라한
신라갈비찜
신의주부대찌개
쏘왓
아그라
아이오유
알트스위스샬레
양귀비짬뽕
엔그릴
열해
오메가3치킨영양삼계탕
우리집
원할머니보쌈 남영점
웨스턴차이나
은성
이남장설렁탕전자랜드점
이조설렁탕.함흥냉면
이촌동면옥
이태원천상본점
일미집
일비노로소
장사랑
장위동유성집
정감어린
정상운참치&초밥
정원가든
주반야주무교동낙지
중일회관
진진바라서울역점
차돌집
차돌집Ⅱ
차이옌
청운숯불갈비
초승달
케르반레스토랑
턴
티원
파샤
파올로데마리아
풍년숯불갈비
하노이의아침
한강집생태
한강회관
한남북엇국
한쿡
할매보쌈애부대찌개
함경면옥
해미루숙대점
행복한추어마을
홀리차우
황소마을
황해
횡성한우목장
휴블랑숙명여대점

In [109]:
for i in df_c:
    # a = []
    # a.append('음식점')
    # a.extend(df_c['업태명'].to_list())
    # a.extend(df_c['업소명'].to_list())
    # a.extend(df_c['소재지'].to_list())
    # a.append('7')
    print(i[i])
#print(a)

TypeError: string indices must be integers

In [81]:
df_e

                  소재지지번주소
0    서울특별시 용산구 이태원동 74-45
1    서울특별시 용산구 이촌동 199-40
2       서울특별시 용산구 이촌동 400
3     서울특별시 용산구 이촌동 206-1
4    서울특별시 용산구 이촌동 209-22
..                    ...
664    서울특별시 용산구 이태원동 187
665  서울특별시 용산구 이태원동 63-17
666  서울특별시 용산구 이태원동 457-3
667  서울특별시 용산구 이태원동 154-7
668  서울특별시 용산구 이태원동 132-4

[669 rows x 1 columns]

    업태명           업소명                      소재지
0    한식        강원정삼계탕   서울특별시 용산구 원효로89길 13-10
1    한식   계경순대국숙대입구역점       서울특별시 용산구 한강대로 306
2    뷔페  계절밥상용산아이파크몰점     서울특별시 용산구 한강대로23길 55
3    한식       고구려참숯구이       서울특별시 용산구 만리재로 192
4    한식           고인돌         서울특별시 용산구 장문로 23
..   ..           ...                      ...
112  중식          홀리차우      서울특별시 용산구 이태원로 179
113  한식          황소마을      서울특별시 용산구 이태원로26길 8
114  한식            황해  서울특별시 용산구 한강대로88길 11-5
115  한식        횡성한우목장     서울특별시 용산구 효창원로48길 6
116  양식      휴블랑숙명여대점     서울특별시 용산구 청파로47나길 13

[117 rows x 3 columns]